/* Reset CSS */
* {
    margin: 0;
    padding: 0;
  }
  body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;

}

.cart {
    display: flex;
    padding-right: 20px;
    align-items: center;
  }
  
  .cart-icon {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  #panier-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
  }
  
  .article-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .article-list li {
    margin-bottom: 5px;
  }
  
  #total {
    font-weight: bold;
  }
  
  /* Hero Section Styles */
  section#hero {
    background-image: url('/img/hero1.jpg');
    background-size: cover;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    padding: 400px;
    height: auto;
    width: auto;
  }
  section#hero h2 { 
    display: inline-block;
    font-size: 2.5em;
    margin-bottom: 20px;
    padding: 5px; /* Ajoute un peu de padding autour du texte */
    background-color: rgba(112, 30, 112, 0.1);
  }

  .cta-button {
    display: inline-block;
    background-color: rgba(112, 30, 112, 0.8);
    color: #fff;
    padding: 15px 30px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color:rgb(212, 55, 212);
  }

/* Section Article*/

  #article-parfum-homme{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  #article-parfum-homme .box h2{
    position: relative;
    bottom: 40px;
    padding: 0 0 15px 0;
  }

  #article-parfum-homme .box{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #article-parfum-homme .content{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }

  #article-parfum-homme .text{
    padding: 0 10px 0 10px;
   width: 500px;
  }

  #article-parfum-homme .text h3{
    color: black;
    position: relative;
    bottom: 50px;
    text-decoration: underline 2px;
    
  }

  #article-parfum-homme .text h4{
    display: inline-block;
    color: black;
    position: relative;
    top: 75px;
    right: 175px;
    text-decoration: underline 2px;
    transition: color 0.3s ease;
  }
  #article-parfum-homme .text h4:hover{
    
    color: rgb(5, 133, 133);
    cursor: pointer;
    
  }

  #article-parfum-homme .text p{
    font-size: 25px;
 
  }

  #article-parfum-homme .img img{
    height: 375px;
    border-radius: 10px;
  }


  
  /* Featured Products Section Styles */
  section#featured-products {
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* Carousel Container Styles */
  .carousel-container {
    display: flex;
    width: 1600px;
  }
  
  /* Product Card Styles */
  .product-card {
    width: 100px;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  .contain-img{
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
  }
  
  .product-card img {
    width: 60%;
    height: auto;
    width: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 1.2em;
    color: #777;
  }
  
  .product-details .price {
    font-weight: bold;
    margin-bottom: 10px;
  }



/* Section Coup de Coeur */
  #coup-de-coeur, #selection {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardParfum-list{
    display: flex;
    justify-content: center;
    width: 80%;
  }

  
  .parfum-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .parfum {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .parfum img {
    max-width: 100%;
  }
  
  .parfum h3 {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .parfum p {
    margin-bottom: 10px;
  }
  
  .parfum .prix {
    font-weight: bold;
    color: #777;
  }
  
  .parfum button {
    background-color: rgba(112, 30, 112, 0.8);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
  }
  
  .parfum button:hover {
    background-color: rgb(212, 55, 212);
  }
  
section {
  margin-bottom: 30px;
}

  
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    section#hero {
      padding: 50px;
    }
  
    section#featured-products {
      padding: 20px;
    }
  
    /* Adjust carousel styles for smaller screens */
    .carousel-container {
      flex-direction: column;
    }
  
    .product-card {
      margin: 0 0 20px 0;
    }
  }
  